*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:visited{
    text-decoration: none;
    color: aliceblue;
}

body {
    background-color: #41467F;
    color: aliceblue;
    line-height: 2.5em;
    text-align: center;
}

div.navbar {
    padding: 20px 50px;
    border: 10px groove #212340;
    background-color: #212340;
    position: fixed;
    right:0;
    left:0;
    z-index: 1001;
} 
.navbutton {
   cursor:pointer;
   padding: 20px 50px;
   display: inline;
   font-family: 'Amatic SC', cursive;
   font-size: 24px;
   letter-spacing: 0.07em;
   font-weight: 600;
   opacity: 1;  
   -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;   
}

.navbutton:hover {
    opacity: 0.4;
}
.buttonframe {
    display: inline-block;

}
@keyframes slide-down {
    0% {
        transform: translateY(-25%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-200%);
    }
}
#projects-list{
    background-color: #212340;
    padding: 10px 40px;
    border: 10px groove #212340;
    position: fixed;
    top: 10%;
    left:39.5%;
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
    letter-spacing: 0.04em;
    font-weight: 600;
    z-index: 1000;
    transition: opacity 0.1s;

}
#projects-list.visible {
    animation: slide-down 0.5s forwards;
    opacity: 1;
}
#projects-list.hidden {
    animation: slide-up 0.75s forwards;
    opacity: 0;
}
.slidebutton{
    cursor:pointer;
    opacity: 1;  
   -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;   
}
.slidebutton:hover {
    opacity: 0.4;
}

.left-side {
    border: 7px solid #212340;
    overflow: hidden;
    width: 25%;
    height: 100%;
    position: fixed;
    margin: auto;
    top: 100px;
    z-index: 999;
    background-image: url("./images/IMG_8683.png");
    background-size: cover;
    opacity: 0.8;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.left-side:hover {
    opacity: 1;
}

.right-side {  
    border: 7px solid #212340;
    position: fixed;
    left: 75%;
    overflow: hidden;
    width: 25%;
    height: 100%;
    margin: auto;
    top: 100px;
    z-index: 998;
    background-image: url("./images/bridge.jpg");
    background-size: cover;
    opacity: 0.8;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.right-side:hover {
    opacity: 1;
}


.intro, .about {
    padding: 10px;
    font-family: 'Droid Sans', sans-serif;
    position: relative;
    top: 120px;
    width: 50%;
    margin: auto;
    clear: both;
    z-index: 1000
}

.intro h1{
    font-size: 45px;
    font-weight: 900;
}

.textBox{
    position: relative;
    display: inline-block;
    top: 50px;
    padding: 20px;
    width: 60%;
    clear: both;
    margin: auto;
    max-width: 70%;
}

#textBox{
    overflow-y: scroll;
    resize: none;
    font-family: 'Droid Sans', sans-serif;
}

button{
    cursor:pointer;
    border: 3px groove #212340;
    background-color: #212340;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
}

button:focus{
    outline: none;
    
}

button:active {
    opacity: 0.7;
}

.about {
    position: relative;
    top: 100px;
    width: 50%;
    margin: auto;
}

